<div class="flex align-items-center justify-content-center flex-wrap h-screen">
  <div class="flex flex-column w-full w-10 sm:w-5">
    <div class="flex justify-content-center">
      <i class="pi pi-lock text-4xl text-blue-500"></i>
    </div>
    <div class="flex justify-content-center my-3 font-bold text-lg">
      Acceso Denegado
    </div>
    <div class="flex justify-content-center font-light text-center text-xs">
      Usted no tiene los permisos necesarios para acceder a esta seccion
    </div>
    <div class="flex justify-content-center font-light my-3 text-xs">
      <a href="/main" class="no-underline">Volver</a>
    </div>
  </div>
</div>
