<div class="p-dialog-content">
  <form [formGroup]="FormDesk">
    <div class="formgrid grid">
      <div class="field col-12 md:col-3">
        <label for="number-desk">Numero</label>
        <p-inputNumber
          styleClass="w-full"
          inputId="number-desk"
          [showButtons]="true"
          formControlName="number"
          [min]="1"
          [max]="99"
          [inputStyle]="{ width: '100%' }"
        />
      </div>

      <div class="field col-12">
        <label for="branch">Sucursal</label>
        @if(!counter){
        <dropdown
          id="branch"
          placeholder="Buscar sucursal"
          [options]="branches()"
          [required]="true"
          (onSearch)="searchBranch($event)"
          (onSelect)="selectBranch($event)"
        />
        } @else {
        <input
          id="branch"
          type="text"
          class="w-full"
          pInputText
          [value]="counter.branch.name"
          [disabled]="true"
        />
        }
      </div>
      <div class="field col-12">
        <label for="list-services">Servicios</label>
        <p-multiSelect
          appendTo="body"
          [options]="services()"
          optionValue="id"
          formControlName="services"
          [style]="{ width: '100%' }"
          display="chip"
          optionLabel="name"
          placeholder="Servicios asignados"
          selectedItemsLabel="{0} servicios seleccionados"
          emptyFilterMessage="Sin resultados"
          emptyMessage="Buscar servicios"
        />
      </div>
      <div class="field col-12">
        <label for="list-users">Usuario</label>
        <dropdown
          id="list-users"
          placeholder="Buscar usuario"
          [value]="FormDesk.get('user')?.value"
          [options]="users()"
          (onSearch)="searchUser($event)"
          (onSelect)="selectUser($event)"
        />
      </div>
    </div>
  </form>
</div>
<div class="p-dialog-footer">
  <p-button label="Guardar" [disabled]="FormDesk.invalid" (onClick)="save()" />
</div>
