<div class="flex justify-content-center h-full">
  <video
    #videoPlayer
    class="w-11 video-element"
    [volume]="0.1"
    (ended)="playNext()"
    autoplay="true"
  ></video>

  <!-- <iframe
    src="https://www.youtube.com/embed/soSp8sx6hHc?autoplay=1&playlist=soSp8sx6hHc&loop=1&muted=0&controls=0"
    class="w-full"
  ></iframe> -->

  <!-- <iframe
    frameborder="0"
    type="text/html"
    src="https://www.dailymotion.com/embed/video/x8ra7t7?autoplay=1&controls=0"
    width="100%"
    height="100%"
    allowfullscreen
    title="Dailymotion Video Player"
    allow="autoplay; web-share"
  >
  </iframe> -->

  <!-- <iframe
    src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FPlayStation%2Fvideos%2F10155554431506803%2F&show_text=0&width=560"
    width="560"
    height="315"
    style="border: none; overflow: hidden"
    scrolling="no"
    frameborder="0"
    allowTransparency="true"
    allowFullScreen="true"
  ></iframe> -->

  <!-- <iframe 
  src="https://www.facebook.com/plugins/video.php?autoplay=1&href=https://www.facebook.com/watch/?v=457080400441204"
  class="w-full"
  scrolling="no"
  frameborder="0"
  allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
></iframe> -->
</div>
