:host ::ng-deep {
  .dock-window {
    width: 100%;
    height: 93vh;
    position: relative;
    background-image: url('../../../../assets/img/backgrounds/blue-wide.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}