

<div style="height: 100vh; display: flex; flex-direction: column">
  <!-- Contenedor para la primera y segunda parte -->
  <div style="display: flex; flex: 1">
    <!-- Primera parte -->
    <div
      style="
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background-color: lightblue;
        padding: 10px;
      "
    >
      <div
        *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]"
        style="
          flex: none;
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: calc(100% / 7);
        "
      >
        <!-- Contenido del elemento, por ejemplo: -->
        <p>Elemento {{ item }}</p>
      </div>
    </div>
    <!-- Segunda parte -->
    <div style="flex: 1; background-color: lightcoral">
      <p>Segunda Parte</p>
    </div>
  </div>
  <!-- Tercera parte (Footer) -->
  <div style="background-color: lightgreen">
    <div class="marquee">
      <span class="text-lg md:text-4xl font-bold text-white"
        >This is a marquee text.
      </span>
    </div>
  </div>
</div>
