.animate-blink {
  animation: blink 1s step-end infinite;
}

.list-item {
  height: calc((100% - (7 * 2px)) / 7);
}

.theme-text {
  color: #4059ad;
}

.theme-color {
  background-color: #4059ad;
}

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee span {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}


.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}