<div class="flex flex-column h-screen bg-primary-100">
  <div class="flex-1 flex">
    <div class="col-9">
      <div class="flex flex-column">
        <div class="flex justify-content-between h-8rem" style="background-color: black">
          <img src="../../../../assets/img/texto-logo.png" class="h-8rem" alt="">
          <img src="../../../../assets/img/sigamos-adelante.png" class="h-6rem" alt="">
        </div>
        <div class="flex-grow-1 px-8" style="background-color: black;">
          @if(!isLoaging()){
            <video-player [urls]="videoUrls()" />
            }
        </div>
      </div>
     
    </div>
    <div class="col-3">
      <div class="flex flex-column h-full">
        <clock />
        <div class="py-2">
          <span class="px-3 block text text-2xl font-semibold">Ultimos Numeros Llamados</span>
         
         
          <span class="px-3 block text font-semibold" style="color: #4059ad">Ultimos Numeros Llamados</span>
        </div>
       
        <div class="flex-grow-1 overflow-auto">
          @for (item of [].constructor(7); track $index) {
          <div class="list-item flex border-bottom-3 surface-border">
            <div
              class="flex-grow-1 border-bluegray-200 flex align-items-center justify-content-center"
            >
              <span class="text-6xl font-bold" style="color: #4059ad">VSD</span>
            </div>
            <div
              class="flex w-3 align-items-center justify-content-center surface-300"
            >
              <span class="text-6xl font-semibold">{{ $index }}</span>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="align-content-center border-2 text-3xl h-12rem">
   
  </div>
</div>
