<div class="flex flex-column sm:flex-row justify-content-center">
  @if(config.icon){
  <div
    class="w-full sm:w-4rem flex align-items-center justify-content-center py-3"
  >
    @switch (config.icon) { @case ('error') {
    <i class="pi pi-exclamation-triangle text-2xl text-red-600"></i>
    } @case ('warning') {
    <i class="pi pi-lock text-2xl"></i>
    }@case ('loading') {
    <i class="pi pi-spin pi-spinner text-4xl"></i>
    } @case ('security') {
    <i class="pi pi-lock text-2xl"></i>
    }@default {
    <i class="pi pi-info text-2xl"></i>
    } }
  </div>
  }

  <div class="flex-1 flex align-items-center justify-content-cente text-lg">
    {{ config.description }}
  </div>
</div>
@if(config.confirmation){
<div class="block flex justify-content-end align-items-center gap-2 mt-3">
  <p-button label="Cancelar" severity="secondary" (onClick)="cancel()" />
  <p-button label="Aceptar" (onClick)="confirm()" />
</div>

}
