<div
  class="flex justify-content-center align-content-center flex-wrap gap-6 border-1"
  style="height: 40vh"
>
  @for (item of elements(); track $index) {
  <div class="flex align-items-center" style="width: 500px; height: 100px">
    <p-button
      class="w-full h-full"
      styleClass="text-lg md:text-4xl w-full h-full shadow-2 hover:shadow-8"
      [label]="item.name"
      [raised]="true"
      (onClick)="select(item)"
    ></p-button>
  </div>
  } @empty {
  <p class="t-4xl">SIN OPCIONES</p>
  }
</div>

<pre> valores: {{ elements() | json }}</pre>
