<div class="flex justify-content-between flex-wrap">
  <div class="flex align-items-center justify-content-center w-4rem h-4rem m-2">
    @if(selectedItems().length>0){
    <p-button icon="pi pi-arrow-left" (onClick)="goBack()" />

    }
  </div>
  <div
    class="flex align-items-center justify-content-center w-auto h-4rem border-round m-2"
  >
    <p class="text-4xl font-bold block">Bienvenido</p>
  </div>
  <div
    class="flex align-items-center justify-content-center w-4rem h-4rem bg-primary font-bold border-round m-2"
  >
    -
  </div>
</div>
@if(!sleectedService()){ @if(selectedItems().length===0){
<grid-buttons [elements]="data" (onSelect)="selectItem($event)"></grid-buttons>

} @else{
<grid-buttons
  [elements]="selectedItems()[lastIndex].services"
  (onSelect)="selectItem($event)"
></grid-buttons>

} } @else {
<div
  class="flex justify-content-center align-content-center flex-wrap gap-6 border-1"
  style="height: 80vh"
>
  <div class="flex flex-wrap gap-1 md:gap-4 xl:gap-8">
    <div
      class="border-round w-12rem h-6rem bg-primary font-bold flex align-items-center justify-content-center"
    >
      PERSONA NATURAL
    </div>
    <div
      class="shadow-2 hover:shadow-8 border-round w-16rem h-6rem bg-primary font-bold flex align-items-center justify-content-center p-4"
    >
      TERCERA EDAD / EMBARAZADAS / DISCAPACIDAD
    </div>
  </div>
</div>
}

<button (click)="print()">print</button>