<div class="h-screen">
  <p-stepper [linear]="true" [activeStep]="index()">
    <p-stepperPanel header="CATEGORIAS">
      <ng-template pTemplate="content" let-index="index">
        <grid-buttons
          [elements]="menu()"
          (onSelect)="handleClick($event)"
        ></grid-buttons>
      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="SERVICIOS">
      <ng-template
        pTemplate="content"
        let-prevCallback="prevCallback"
        let-nextCallback="nextCallback"
        let-index="index"
      >
        <grid-buttons [elements]="submenu()"></grid-buttons>
        <div class="flex py-4 gap-2">
          <p-button label="Back" severity="secondary" />
          <p-button label="Next" />
        </div>
      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="PREFERENCIAS" [tabIndex]="2">
      <ng-template
        pTemplate="content"
        let-prevCallback="prevCallback"
        let-index="index"
        class="fadeinleft animation-duration-1000"
      >
        <div
          class="fb-video"
          data-href="VIDEO_URL"
          data-show-text="true"
          data-width="560"
          data-height="315"
        ></div>

        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/OJFJWtOzIQ0"
          frameborder="0"
          allowfullscreen
        ></iframe>

        <iframe
          src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fsevensharp%2Fvideos%2F1107499423069458%2F&show_text=false&width=560"
          width="800"
          height="314"
          style="border: none; overflow: hidden"
          scrolling="no"
          frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
          allowFullScreen="true"
        ></iframe>
      </ng-template>
    </p-stepperPanel>
  </p-stepper>
</div>
