<div class="main-container flex flex-column sm:flex-row">
  <div class="flex-grow-1 p-3 border-1 border-round-xl">
    <p-table
      [value]="requests()"
      [scrollable]="true"
      [scrollHeight]="'calc(100vh - 230px)'"
    >
      <ng-template pTemplate="caption">
        <span>LISTADO DE SOLICITUDES</span>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nro.</th>
          <th>Codigo</th>
          <th>Prioridad</th>
          <th>Estado</th>
          <th>Fecha</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-request let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ request.code }}</td>
          <td>{{ request.priority }}</td>
          <td>
            <p-tag severity="warning" [value]="request.statusLabel" />
          </td>
          <td>{{ request.createdAt | date : "short" }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">SIN SOLICITUDES</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <span> EN COLA: {{ requests().length }}</span>
      </ng-template>
    </p-table>
  </div>
  <div class="w-2">
    <div class="flex flex-row sm:flex-column sm:flex-wrap h-full">
      @for (item of [].constructor(6); track $index) {
      <div class="flex-grow-1 m-2">
        <p-button
          styleClass="h-full"
          label="Siguiente ficha"
          [disabled]="!isEnabledNextButton()"
          (onClick)="getNextRequest()"
        />
      </div>
      }
    </div>
  </div>
  <div class="w-4 p-3">
    <div class="block text-center mb-2 text-orange-300 text-2xl font-semibold">
      Servicio Actual
    </div>
    <div class="block text-center mb-3 font-bold text-blue-600 text-4xl mb-3">
      Numero de Ticket
    </div>
    <div
      class="flex align-items-center justify-content-center border-3 border-orange-200 border-round-xl h-8rem"
    >
      <span class="text-orange-300 text-8xl">VU22</span>
    </div>
    <!-- <div class="flex justify-content-between flex-column flex-1 p-3">
      <p-button>
        <div class="flex flex-column">
          <i class="pi pi-user py-3" style="font-size: 3rem"></i>
          <span class="text-xl">Texto boton</span>
        </div>
      </p-button>
      <p-button
        styleClass="w-full"
        label="Siguiente ficha"
        icon="pi pi-angle-double-right"
        size="large"
        [disabled]="!isEnabledNextButton()"
        (onClick)="getNextRequest()"
      />
      <p-button
        styleClass="w-full"
        label="Volver a Llamar"
        icon="pi pi-volume-up"
        size="large"
        [loading]="isNotifying()"
        [disabled]="!currentRequest()"
        (onClick)="notify()"
      />
      <p-button
        styleClass="w-full"
        label="Atendido"
        icon="pi pi-check"
        size="large"
        [disabled]="!currentRequest()"
        (onClick)="handleRequest(requestStatus.ATTENDED)"
      />
      <p-button
        styleClass="w-full"
        label="Ausente"
        icon="pi pi-times"
        size="large"
        [disabled]="!currentRequest()"
        (onClick)="handleRequest(requestStatus.ABSENT)"
      />
      <p-button
        styleClass="w-full"
        label="Transferir"
        [disabled]="!currentRequest()"
        icon="pi pi-arrow-right-arrow-left"
        size="large"
      />
      <p-button
        styleClass="w-full"
        label="Llamada especial"
        icon="pi pi-phone"
        size="large"
      />
      <div
        class="flex flex-wrap align-items-center justify-content-between border-top-1"
      >
        <span class="font-medium text-xl">
          VENTANILLA: {{ counter?.number }}
        </span>
        <p-button
          icon="pi pi-question-circle"
          severity="secondary"
          rounded="true"
          text="true"
          (onClick)="showDialog()"
        />
      </div>
    </div> -->
  </div>
</div>
<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div class="flex flex-column align-items-center p-4 surface-overlay">
      <span class="font-bold text-2xl block mb-2 mt-4">
        {{ message.header }}
      </span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex align-items-center gap-2 mt-4">
        <button
          pButton
          label="Aceptar"
          (click)="cd.accept()"
          class="w-8rem"
        ></button>
        <button
          pButton
          label="Cancelar"
          (click)="cd.reject()"
          class="p-button-outlined w-8rem"
        ></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
<p-dialog
  header="Informacion Ventanilla"
  [(visible)]="isDialogOpen"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="surface-section">
    <div class="font-medium text-3xl text-900 mb-3">
      VENTANILLA Nro. {{ counter?.number }}
    </div>
    <div class="text-500 mb-5">
      REGISTROS Y NOTIFICACIONES SE MOSTRARAN CON EL NUMERO DE LA VENTANILLA
    </div>
    <ul class="list-none p-0 m-0">
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 w-6 md:w-2 font-medium">IP:</div>
        <div class="text-900 w-full md:w-10">
          {{ counter?.ip }}
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 w-6 md:w-2 font-medium">Sucursal</div>
        <div class="text-900 w-full md:w-10">
          {{ counter?.branch?.name }}
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 w-6 md:w-2 font-medium">Servicios</div>
        <div class="text-800 w-full md:w-10">
          <ul class="list-disc">
            @for (item of counter?.services; track $index) {
            <li class="text-md">{{ item.name }}</li>
            }
          </ul>
        </div>
      </li>
    </ul>
  </div>
</p-dialog>
