.main-container {
  height: calc(100vh - 70px);
  overflow: hidden;
}

@media (max-width: 600px) {
  .right-button {
    padding: 0.5rem;
  }

  .p-button-label {
    display: none;
  }

  .button-text {
    display: none;
  }

  .right-button i {
    font-size: 1.5rem;
  }

  .right-panel {
    width: 100px;
    /* Adjust the width as needed */
  }
}