<div class="flex h-full flex-column sm:flex-row">
  <!-- LIST PENDING REQUEST -->
  <div class="flex-1 flex flex-column">
    <div
      class="h-4rem flex align-items-center justify-content-between bg-green-200 px-3"
    >
      <span class="text-xl"> SOLICITUDES PENDIENTES</span>
      <span class="text-4xl">
        {{ requests().length }}
      </span>
    </div>
    <div class="list p-3">
      @for (request of requests(); track request.id) {
      <div class="surface-card shadow-2 p-3 border-round w-full">
        <div class="flex justify-content-between mb-3">
          <div class="text-2xl font-bold">
            {{ request.code }}
          </div>
          <div
            class="flex align-items-center justify-content-center bg-green-100 border-round px-3"
          >
            {{ request.createdAt | date : "h:mm a" }}
          </div>
        </div>
        <span class="text-green-500 font-medium">Status: </span>
        <span class="text-500">{{ request.statusLabel }}</span>
      </div>
      } @empty {
      <p class="text-600 w-full text-2xl text-center">SIN SOLICITUDES</p>
      }
    </div>
  </div>

  <!-- CURRENT TICKET SECTION -->
  <div class="flex-1 flex flex-column p-3">
    <div class="block text-center text-green-500 text-4xl font-semibold">
      SERVICIO ACTUAL
    </div>
    <div
      class="block text-center font-bold font-italic text-green-800 text-4xl py-3"
    >
      <i class="pi pi-clock mr-3" style="font-size: 2rem"></i>
      <span>{{ timer() }}</span>
    </div>
    <div
      class="block text-center text-8xl border-3 border-green-500 border-round-xl h-8rem"
    >
      @if (currentRequest()) {
      {{ currentRequest()?.code }}
      }
    </div>
    <div class="flex-grow-1">
      <div class="options py-3">
        <p-button
          severity="success"
          styleClass="flex justify-content-center w-full h-full"
          [disabled]="!isEnabledNextButton()"
          (onClick)="getNextRequest()"
        >
          <div>
            <i
              class="pi pi-angle-double-right py-2"
              style="font-size: 4rem"
            ></i>
            <span class="text-xl hidden md:block">Siguiente ficha</span>
          </div>
        </p-button>
        <p-button
          severity="success"
          styleClass="flex justify-content-center w-full h-full"
          [disabled]="isNotifying() || currentRequest() === null"
          (onClick)="notify()"
        >
          <div>
            <i class="pi pi-volume-up py-2" style="font-size: 4rem"></i>
            <span class="text-xl hidden md:block">Volver a llamar</span>
          </div>
        </p-button>
        <p-button
          severity="success"
          styleClass="flex justify-content-center w-full h-full"
          [disabled]="!currentRequest()"
          (onClick)="handleRequest(enum.ATTENDED)"
        >
          <div>
            <i class="pi pi-check py-2" style="font-size: 4rem"></i>
            <span class="text-xl hidden md:block">Atendido</span>
          </div>
        </p-button>
        <p-button
          severity="success"
          styleClass="flex justify-content-center w-full h-full"
          [disabled]="!currentRequest()"
          (onClick)="handleRequest(enum.ABSENT)"
        >
          <div>
            <i class="pi pi-times py-2" style="font-size: 4rem"></i>
            <span class="text-xl hidden md:block">Ausente</span>
          </div>
        </p-button>
        <p-button
          [disabled]="true"
          severity="success"
          styleClass="flex justify-content-center w-full h-full"
        >
          <div>
            <i
              class="pi pi-arrow-right-arrow-left py-2"
              style="font-size: 4rem"
            ></i>
            <span class="text-xl hidden md:block">Transferir</span>
          </div>
        </p-button>
        <p-button
          [disabled]="true"
          severity="success"
          styleClass="flex justify-content-center w-full h-full"
        >
          <div>
            <i class="pi pi-phone py-2" style="font-size: 4rem"></i>
            <span class="text-xl hidden md:block">LLamada especial</span>
          </div>
        </p-button>
      </div>
    </div>
    <div
      class="block flex flex-wrap align-items-center justify-content-between border-top-2"
    >
      <span class="font-medium text-2xl">
        VENTANILLA: {{ counter?.number }}
      </span>
      <p-button
        icon="pi pi-question-circle"
        severity="secondary"
        rounded="true"
        text="true"
        size="large"
        (onClick)="info()"
      />
    </div>
  </div>
</div>
<p-dialog
  header="Informacion Ventanilla"
  [(visible)]="isDialogOpen"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="surface-section">
    <div class="font-medium text-3xl text-900 mb-3">
      VENTANILLA Nro. {{ counter?.number }}
    </div>
    <div class="text-500 mb-5">
      REGISTROS Y NOTIFICACIONES SE MOSTRARAN CON EL NUMERO DE LA VENTANILLA
    </div>
    <ul class="list-none p-0 m-0">
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 w-6 md:w-2 font-medium">IP:</div>
        <div class="text-900 w-full md:w-10">
          {{ counter?.ip }}
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 w-6 md:w-2 font-medium">Sucursal</div>
        <div class="text-900 w-full md:w-10">
          {{ counter?.branch?.name }}
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 w-6 md:w-2 font-medium">Servicios</div>
        <div class="text-800 w-full md:w-10">
          <ul class="list-disc">
            @for (item of counter?.services; track $index) {
            <li class="text-md">{{ item.name }}</li>
            }
          </ul>
        </div>
      </li>
    </ul>
  </div>
</p-dialog>
