<div class="p-dialog-content">
  <p-tabView>
    <p-tabPanel header="Datos sucursal">
      <form [formGroup]="FormBranch">
        <div class="formgrid grid">
          <div class="field col-12">
            <label for="name">Nombre</label>
            <input
              id="name"
              type="text"
              class="w-full"
              pInputText
              formControlName="name"
            />
          </div>
          <div class="field col-12">
            <label for="message">Mensaje</label>
            <input
              id="message"
              type="text"
              class="w-full"
              pInputText
              formControlName="marqueeMessage"
            />
          </div>
        </div>
      </form>
      <div class="card mt-3">
        <span class="p-fluid">
          <p-autoComplete
            #autoComplete
            styleClass="w-full"
            appendTo="body"
            [(ngModel)]="selectedServices"
            [suggestions]="services()"
            (completeMethod)="searchServices($event.query)"
            field="name"
            [multiple]="true"
            [forceSelection]="true"
            placeholder="Buscar servicios"
            emptyMessage="Sin resultados"
          ></p-autoComplete>
        </span>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Multimedia">
      <p-fileUpload
       
        [multiple]="true"
        accept="video/*"
        [maxFileSize]="maxFileSize"
      >
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>

      @for (item of previewVideos(); track $index) {
      <video controls [src]="item" width="300" height="150"></video>
      }
      <!-- <div class="video-container">
        <iframe
          src="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/watch/?v=1013388277012217&show_text=0&width=560"
          scrolling="no"
          frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
          allowFullScreen="true"
        ></iframe>
      </div> -->

      <!-- <p-fileUpload
        (onSelect)="onUpload($event.currentFiles)"
        [multiple]="true"
        accept="video/*"
        [maxFileSize]="maxFileSize"
      >
        <ng-template pTemplate="header"></ng-template>
        <ng-template pTemplate="content">
          <div class="overflow-y-scroll h-20rem">
            @for (item of myFiles; track $index) {
            <div class="flex border-1 p-2 mb-4">
              <div class="flex-1">
                <video controls [src]="item" width="300" height="150"></video>
              </div>
              <div class="flex align-items-center justify-content-center">
                <p-button icon="pi pi-check" />
              </div>
            </div>
            }
          </div>
        </ng-template>
      </p-fileUpload> -->
    </p-tabPanel>
  </p-tabView>
</div>
<div class="p-dialog-footer">
  <p-button label="Guardar" [disabled]="!isFormValid" (onClick)="save()" />
</div>
