<div class="p-dialog-content">
  <p-tabView>
    <p-tabPanel header="Datos sucursal">
      <form [formGroup]="FormBranch">
        <div class="formgrid grid">
          <div class="field col-12">
            <label for="name">Nombre</label>
            <input
              id="name"
              type="text"
              class="w-full"
              pInputText
              formControlName="name"
            />
          </div>
          <div class="field col-12">
            <label for="message">Mensaje</label>
            <input
              id="message"
              type="text"
              class="w-full"
              pInputText
              formControlName="marqueeMessage"
            />
          </div>
        </div>
      </form>
      <div class="card mt-3">
        <span class="p-fluid">
          <p-autoComplete
            #autoComplete
            styleClass="w-full"
            appendTo="body"
            [forceSelection]="true" 
            [ngModel]="selectedServices"
            [suggestions]="services()"
            (completeMethod)="searchServices($event.query)"
            (onSelect)="onSelectService($event.value)"
            field="name"
            [multiple]="true"
            [forceSelection]="true"
            placeholder="Buscar servicios"
            emptyMessage="Sin resultados"
          ></p-autoComplete>
        </span>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Multimedia">
      <p-fileUpload
        #fileUpload
        (onSelect)="onSelectFiles($event.currentFiles)"
        [multiple]="true"
        mode="basic"
        accept="video/*"
        chooseLabel="Seleccionar archivos"
        styleClass="w-full mb-3"
        [maxFileSize]="maxFileSize"
      />
      <div class="card overflow-y-scroll max-h-30rem">
        <div class="grid w-full">
          @for (item of previewVideos(); track $index) {
          <div class="col-12 md:col-6">
            <video controls [src]="item" class="w-full"></video>
          </div>
          }
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
<div class="p-dialog-footer">
  <p-button label="Guardar" [disabled]="!isFormValid" (onClick)="save()" />
</div>
