@if (isSearching()) {
<div class="mb-2 px-2 fadein animation-duration-200">
  <p-inputGroup>
    <input
      type="text"
      pInputText
      pAutoFocus
      [autofocus]="true"
      [placeholder]="'Buscar ' + title()"
      [formControl]="term"
    />
    <button
      type="button"
      pButton
      icon="pi pi-times"
      class="p-button-secondary"
      (click)="toggleSearch(false)"
    ></button>
  </p-inputGroup>
</div>
} @else{
<p-toolbar styleClass="mb-2 py-0">
  <ng-template pTemplate="start">
    <span class="text-lg">{{ title() }}</span>
  </ng-template>
  <ng-template pTemplate="end">
    <p-button
      severity="secondary"
      icon="pi pi-search"
      [rounded]="true"
      [text]="true"
      (onClick)="toggleSearch(true)"
    />
    <p-button
      severity="secondary"
      icon="pi pi-plus"
      [rounded]="true"
      [text]="true"
      (onClick)="create()"
    />
  </ng-template>
</p-toolbar>
}
