<div class="fadein animation-duration-500">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <button
        pButton
        icon="pi pi-plus"
        class="mr-2"
        (click)="create()"
      ></button>
    </div>
    <div class="p-toolbar-group-center">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input
          type="text"
          [(ngModel)]="term"
          (keyup.enter)="getData()"
          pInputText
          placeholder="Buscar categoria"
        />
      </p-iconField>
    </div>
  </p-toolbar>

  <p-table
    [value]="datasource()"
    styleClass="p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Codigo</th>
        <th>Categoria</th>
        <th style="width: 50px"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-service>
      <tr class="">
        <td>{{ service.name }}</td>
        <td>{{ service.code }}</td>
        <td>{{ service.groupName }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            (onClick)="update(service)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3">Sin registros</td>
      </tr>
    </ng-template>
  </p-table>
  <paginator
    [rows]="limit()"
    [first]="offset()"
    [length]="datasize()"
    (onPageChange)="chagePage($event)"
  />
</div>
