<div class="fadein animation-duration-500">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <button pButton icon="pi pi-plus" (click)="create()"></button>
    </div>
    <div class="p-toolbar-group-end">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          [(ngModel)]="term"
          (keyup.enter)="search()"
          pInputText
          placeholder="Buscar preferencia"
        />
      </span>
    </div>
  </p-toolbar>
  <p-table [value]="datasource()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Sigla</th>
        <th>Prioridad</th>
        <th style="width: 55px"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-preference>
      <tr>
        <td>{{ preference.name }}</td>
        <td>{{ preference.acronym }}</td>
        <td>{{ preference.priority }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            (onClick)="update(preference)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">Sin registros</td>
      </tr>
    </ng-template>
  </p-table>
  <paginator
    [rows]="limit()"
    [first]="offset()"
    [length]="datasize()"
    (onPageChange)="chagePage($event)"
  />
</div>
