<div class="fadein animation-duration-500">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <button
        pButton
        icon="pi pi-plus"
        class="mr-2"
        (click)="create()"
      ></button>
      <p-button icon="pi pi-megaphone" class="mr-2" (onClick)="announce()" />
    </div>
    <div class="p-toolbar-group-end">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input
          type="text"
          [(ngModel)]="term"
          (keyup.enter)="getData()"
          pInputText
          placeholder="Buscar sucursal"
        />
      </p-iconField>
    </div>
  </p-toolbar>
  <p-table
    [value]="datasource()"
    [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="id"
    [rowExpandMode]="'single'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Mensaje</th>
        <th style="width: 50px"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-branch let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="branch"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
          />
        </td>
        <td>{{ branch.name }}</td>
        <td style="width: 50%" class="line-height-1 font-italic">
          {{ branch.marqueeMessage }}
        </td>
        <td style="width: 5%">
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            (onClick)="update(branch)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-branch>
      <tr>
        <td colspan="5">
          <div class="px-4">
            <p>SERVICIOS ASIGNADOS:</p>
            <ul>
              @for (item of branch.services; track $index) {
              <li>{{ item.name }}</li>
              } @empty { -- SIN SERVICIOS -- }
            </ul>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Sin registros</td>
      </tr>
    </ng-template>
  </p-table>
  <paginator
    [rows]="limit()"
    [first]="offset()"
    [length]="datasize()"
    (onPageChange)="chagePage($event)"
  />
</div>
