<div class="fadein animation-duration-500">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <button
        pButton
        icon="pi pi-plus"
        class="mr-2"
        (click)="create()"
      ></button>
    </div>
    <div class="p-toolbar-group-center">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText placeholder="Buscar sucursal" />
      </span>
    </div>
  </p-toolbar>
  <p-table [value]="datasource()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Servicios</th>
        <th>Mensaje</th>
        <th>Video</th>
        <th style="width: 50px"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-branch>
      <tr>
        <td>{{ branch.name }}</td>
        <td>
          <ul>
            @for (item of branch.services; track $index) {
            <li>{{ item.name }}</li>
            } @empty { -- SIN SERVICIOS -- }
          </ul>
        </td>
        <td style="width: 40%" class="line-height-1">
          {{ branch.marqueeMessage }}
        </td>
        <td>
          <p-button
            label="Video"
            icon="pi pi-play-circle"
            (onClick)="viewVideo(branch)"
          />
        </td>
        <td>
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            (onClick)="update(branch)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3">Sin registros</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Fuente"
  [modal]="true"
  [(visible)]="showVideo"
  [style]="{ width: '60rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  @if(selectedElement){ @switch (selectedElement!.videoPlatform) { @case
  ('FaceBook') { } @case ('YouTube') {
  <iframe
    [src]="selectedElement!.videoUrl! | safe"
    allow="autoplay; encrypted-media"
    class="w-full h-28rem"
  ></iframe>
  } @default {
  <video
    [controls]="true"
    [autoplay]="true"
    [loop]="true"
    [muted]="true"
    class="w-full"
    [src]="selectedElement!.videoUrl"
  ></video>
  } } }
</p-dialog>
