@import "primeicons/primeicons.css";

// DIALOG CONFIG
// .p-dialog .p-dialog-content {
//     position: relative;
//     /* Posicionar el contenido de forma relativa */
// }

.p-dialog-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}