@import "primeicons/primeicons.css";

.p-dialog-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}
.p-dialog-content {
  margin-bottom: 16px;
}

body {
  margin: 0px;
  padding: 0px;
}
