<div class="fadein animation-duration-500">
  <toolbar
    title="Usuarios"
    (onSearch)="search($event)"
    (onCreate)="create()"
    [actions]="actions"
    (onAction)="handleActions($event)"
  />
  <p-table [value]="datasource()" styleClass="p-datatable-sm text-sm">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Login</th>
        <th>Rol</th>
        <th style="width: 55px"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.fullname }}</td>
        <td>{{ user.login }}</td>
        <td>{{ user.roles }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            (onClick)="update(user)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Sin registros</td>
      </tr>
    </ng-template>
  </p-table>
  <paginator
    [rows]="limit()"
    [first]="offset()"
    [length]="datasize()"
    (onPageChange)="chagePage($event)"
  />
</div>
