<div class="fadein animation-duration-500">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <button pButton icon="pi pi-plus" (click)="create()"></button>
    </div>
    <div class="p-toolbar-group-end">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input
          type="text"
          [(ngModel)]="term"
          (keyup.enter)="getData()"
          pInputText
          placeholder="Buscar usuario"
        />
      </p-iconField>
    </div>
  </p-toolbar>
  <p-table [value]="datasource()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Login</th>
        <th>Rol</th>
        <th style="width: 55px"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.fullname }}</td>
        <td>{{ user.login }}</td>
        <td>{{ user.roles }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            (onClick)="update(user)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">Sin registros</td>
      </tr>
    </ng-template>
  </p-table>
  <paginator
    [rows]="limit()"
    [first]="offset()"
    [length]="datasize()"
    (onPageChange)="chagePage($event)"
  />
</div>
